<div class="login">
    <div>
        <div class="div-login-title">
            <h3>ContExpense</h3>
        </div>
        <div class="div-login-input">
            <input type="text" id="user" placeholder="Usuário" />
        </div>
        <div class="div-login-input">
            <input type="password" id="password" placeholder="Senha" />
        </div>
        <div class="div-login-button">
            <button onclick="rederPage('expenseSystem/dashboard')" class="btn btn-primary w-100-percent">Entrar</button>
        </div>
        <div class="div-login-button">
            <button onclick="rederPage('expenseSystem/register')" class="btn btn-link w-100-percent">Registrar</button>
            <button onclick="rederPage('expenseSystem/register')" class="btn btn-link link-forgot-password">Esqueceu a
                senha ?</button>
        </div>
    </div>
</div>