<div id="menu" title="Registrar" route="expenseSystem/login"></div>
<div class="rem-p-20">
    <div class="row">
        <div class="col-lg-6 mx-auto flex-default-column">

            <div class="w-100-percent register">
                <input type="text" id="name" class="w-100-percent" placeholder="Nome">
            </div>
            <div class="w-100-percent register">
                <input type="email" id="email" class="w-100-percent" placeholder="Email">
            </div>
            <div class="w-100-percent register">
                <input type="text" id="user" class="w-100-percent" placeholder="Criar Usuário">
            </div>
            <div class="w-100-percent register">
                <input type="password" id="password" class="w-100-percent" placeholder="Nova Senha">
            </div>
            <div class="w-100-percent register">
                <input type="password" id="passwordRepeat" class="w-100-percent" placeholder="Repetir Senha">
            </div>
            <div class="w-100-percent">
                <button type="submit" onclick="saveExpense('api/create/user')"
                    class="btn btn-primary w-100-percent">Registrar</button>
            </div>

        </div>
    </div>
</div>