<div class="semestre1">
    <div onclick="rederPage('semesters')" style="padding-bottom: 1rem;cursor: pointer;">
        <i class="fa-solid fa-2x fa-arrow-left"></i>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div onclick="rederPage('1semesters/subjects/introducaoAEngenharia')" class="style-cols-disciplinas">
                <h6>INTRODUÇÃO À ENGENHARIA</h6>
            </div>
        </div>
        <div class="col-lg-4">
            <div onclick="rederPage('1semesters/subjects/calculoDiferencial')" class="style-cols-disciplinas">
                <h6>CÁLCULO DIFERENCIAL</h6>
            </div>
        </div>
        <div class="col-lg-4">
            <div onclick="rederPage('1semesters/subjects/algebraLinearEGeometriaAnalitica')"
                class="style-cols-disciplinas">
                <h6>ÁLGEBRA LINEAR E GEOMETRIA ANALÍTICA</h6>
            </div>
        </div>
        <div class="col-lg-4">
            <div onclick="rederPage('1semesters/subjects/expressaoGrafica')" class="style-cols-disciplinas">
                <h6>EXPRESSÃO GRÁFICA</h6>
            </div>
        </div>
        <div class="col-lg-4">
            <div onclick="rederPage('1semesters/subjects/quimicaTecnologica')" class="style-cols-disciplinas">
                <h6>QUÍMICA TECNOLÓGICA</h6>
            </div>
        </div>
        <div class="col-lg-4">
            <div onclick="rederPage('1semesters/subjects/algoritimoEstrDadosTeoria')" class="style-cols-disciplinas">
                <h6>ALGORITMOS E ESTRUTURAS DE DADOS(TEORIA)</h6>
            </div>
        </div>
        <div class="col-lg-4">
            <div onclick="rederPage('1semesters/subjects/informaticaAplicada')" class="style-cols-disciplinas">
                <h6>INFORMÁTICA APLICADA</h6>
            </div>
        </div>
        <div class="col-lg-4">
            <div onclick="rederPage('1semesters/subjects/algoritimoEstrDadosPratica')" class="style-cols-disciplinas">
                <h6>ALGORITMOS E ESTRUTURAS DE DADOS(PRÁTICA)</h6>
            </div>
        </div>
        <div class="col-lg-4">
            <div onclick="rederPage('1semesters/subjects/leituraProdTxtAcademicos')" class="style-cols-disciplinas">
                <h6>LEITURA E PRODUÇÃO DE TEXTOS ACADÊMICOS</h6>
            </div>
        </div>
    </div>
</div>