<div class="semestre1">
    <div id="menu" route="1semesters/subjects/all"></div>
    <div style="text-align: center;">
        <h3>CÁLCULO DIFERENCIAL</h3>
    </div>

    <div style="margin-bottom: 20px;">
        <h6>O que é <b>Produto</b> ?</h6>
    </div>
    <div>
        <p>
            O termo "produto" refere-se à multiplicação de números e/ou variáveis. Quando você multiplica dois ou mais
            elementos, você está encontrando o produto deles. Vou explicar com mais detalhes:
        </p>
        <p>
            O produto é uma operação matemática que combina dois ou mais valores para criar um único valor. No contexto
            de termos, o produto geralmente envolve a multiplicação de números e/ou variáveis. Por exemplo:
        </p>
        <p>
            1. O produto de <b>2 e 3</b> é <b>2 x 3</b> = <b>6</b>
        </p>
        <p>
            2. O produto de <b>a e b</b> é <b>a x b</b> = <b>ab</b>
        </p>
        <p>
            3. O produto de <b>3 e x</b> é <b>3x</b>
        </p>
        <p>
            4. O produto de <span class="math math-inline"><span class="katex"><span class="katex-mathml"><math
                            xmlns="http://www.w3.org/1998/Math/MathML">
                            <semantics>
                                <mrow>
                                    <msup>
                                        <mi>y</mi>
                                        <mn>2</mn>
                                    </msup>
                                    <msup>
                                        <mi>e z</mi>
                                    </msup>
                                </mrow>
                                <annotation encoding="application/x-tex">y^2 e z</annotation>
                            </semantics>
                        </math></span></span></span> é <span class="math math-inline"><span class="katex"><span
                        class="katex-mathml"><math xmlns="http://www.w3.org/1998/Math/MathML">
                            <semantics>
                                <mrow>
                                    <msup>
                                        <mi>y</mi>
                                        <mn>2</mn>
                                    </msup>
                                    <msup>
                                        <mi>z</mi>
                                    </msup>
                                </mrow>
                                <annotation encoding="application/x-tex">y^2z</annotation>
                            </semantics>
                        </math></span></span></span>
        </p>
        <p>
            Quando falamos sobre o produto de números e variáveis, estamos essencialmente realizando a multiplicação
            entre esses elementos para criar um novo termo. Portanto, o "produto de números e variáveis" refere-se à
            multiplicação desses elementos para formar um termo na expressão matemática.
        </p>
    </div>
    <hr>

    <div style="margin-bottom: 20px;">
        <h6>O que é um <b>Termo</b> ?</h6>
    </div>
    <p>
        Em matemática, um termo é uma parte individual de uma expressão algébrica ou aritmética que pode ser um número,
        uma variável, ou o produto de números e variáveis. Termos são os "blocos de construção" das expressões
        matemáticas mais complexas. Eles são combinados por meio de operações aritméticas ou algébricas para formar
        expressões maiores.
    </p>
    <p>
        Aqui estão alguns exemplos de termos:
    </p>
    <p>
        1. <b>5</b> - Neste caso, <b>5</b> é um termo, que é um <b>número</b>.
    </p>
    <p>
        2. <b>x</b> - Aqui, <b>x</b> é um termo, que é uma <b>variável</b>.
    </p>
    <p>
        3. <b>2x</b> - Este é um termo que é o <b>produto</b> de <b>2 e x</b>.
    </p>
    <p>
        4. <span class="math math-inline"><span class="katex"><span class="katex-mathml"><math
                        xmlns="http://www.w3.org/1998/Math/MathML">
                        <semantics>
                            <mrow>
                                <msup>
                                    <mi>3</mi>
                                </msup>
                                <msup>
                                    <mi>y</mi>
                                    <mn>2</mn>
                                </msup>
                            </mrow>
                            <annotation encoding="application/x-tex">3y^2</annotation>
                        </semantics>
                    </math></span></span></span> - Este é um termo que é o produto de 3 e <span
            class="math math-inline"><span class="katex"><span class="katex-mathml"><math
                        xmlns="http://www.w3.org/1998/Math/MathML">
                        <semantics>
                            <mrow>
                                <msup>
                                    <mi>y</mi>
                                    <mn>2</mn>
                                </msup>
                            </mrow>
                            <annotation encoding="application/x-tex">y^2</annotation>
                        </semantics>
                    </math></span></span></span> (onde <span class="math math-inline"><span class="katex"><span
                    class="katex-mathml"><math xmlns="http://www.w3.org/1998/Math/MathML">
                        <semantics>
                            <mrow>
                                <msup>
                                    <mi>y</mi>
                                    <mn>2</mn>
                                </msup>
                            </mrow>
                            <annotation encoding="application/x-tex">y^2</annotation>
                        </semantics>
                    </math></span></span></span> é uma variável elevada ao quadrado).
    </p>
    <p>
        5. <b>ab</b> - Neste caso, <b>ab</b> é um termo que é o produto das variáveis <b>a e b</b>
    </p>
    <hr>

    <div style="margin-bottom: 20px;">
        <h6>O que é um <b>Binômio</b> ?</h6>
    </div>
    <p>
        Em matemática, um binômio é uma expressão que consiste em dois termos separados por um sinal de adição ou
        subtração. Por exemplo <b>(a + b), (a - b), (x + y)...</b> são binômios, pois ambos possuem exatamente dois
        termos ligados por um sinal de adição ou subtração.
    </p>
    <hr>
    <div style="margin-bottom: 20px;">
        <h6>Produtos notaveis ?</h6>
    </div>
    <div class="markdown prose w-full break-words dark:prose-invert light">
        <p>Produtos notáveis são expressões algébricas resultantes da multiplicação de termos, que têm propriedades
            especiais e podem ser simplificados ou manipulados de maneira mais fácil. Eles são chamados de "notáveis"
            porque muitas vezes aparecem em cálculos e equações de forma repetitiva e são reconhecidos como padrões
            comuns.</p>
        <p>Existem algumas categorias principais de produtos notáveis:</p>
        <ol>
            <li>
                <p><strong>Quadrado de um binômio:</strong> Quando um binômio (uma soma ou subtração de dois termos) é
                    multiplicado por si mesmo, o resultado é um quadrado de um binômio. Por exemplo, o quadrado de <span
                        class="math math-inline"><span class="katex"><span class="katex-mathml"><math
                                    xmlns="http://www.w3.org/1998/Math/MathML">
                                    <semantics>
                                        <mrow>
                                            <mo stretchy="false">(</mo>
                                            <mi>a</mi>
                                            <mo>+</mo>
                                            <mi>b</mi>
                                            <mo stretchy="false">)</mo>
                                        </mrow>
                                        <annotation encoding="application/x-tex">(a + b)</annotation>
                                    </semantics>
                                </math></span></span></span> é <span class="math math-inline"><span class="katex"><span
                                class="katex-mathml"><math xmlns="http://www.w3.org/1998/Math/MathML">
                                    <semantics>
                                        <mrow>
                                            <msup>
                                                <mi>a</mi>
                                                <mn>2</mn>
                                            </msup>
                                            <mo>+</mo>
                                            <mn>2</mn>
                                            <mi>a</mi>
                                            <mi>b</mi>
                                            <mo>+</mo>
                                            <msup>
                                                <mi>b</mi>
                                                <mn>2</mn>
                                            </msup>
                                        </mrow>
                                        <annotation encoding="application/x-tex">a^2 + 2ab + b^2</annotation>
                                    </semantics>
                                </math></span></span></span>.
                </p>
            </li>
            <li>
                <p><strong>Cubo de um binômio:</strong> O cubo de um binômio é uma expressão que resulta da elevação de
                    um binômio à terceira potência, ou seja, multiplicando o binômio por ele mesmo três vezes. Mais
                    especificamente, envolve elevar cada termo do binômio à terceira potência e aplicar as propriedades
                    distributivas para obter a forma expandida. Por exemplo, o cubo de <span
                        class="math math-inline"><span class="katex"><span class="katex-mathml"><math
                                    xmlns="http://www.w3.org/1998/Math/MathML">
                                    <semantics>
                                        <mrow>
                                            <mo stretchy="false">(</mo>
                                            <mi>a</mi>
                                            <mo>+</mo>
                                            <mi>b</mi>
                                            <mo stretchy="false">)</mo>
                                        </mrow>
                                        <annotation encoding="application/x-tex">(a + b)</annotation>
                                    </semantics>
                                </math></span></span></span> é <span class="math math-inline"><span class="katex"><span
                                class="katex-mathml"><math xmlns="http://www.w3.org/1998/Math/MathML">
                                    <semantics>
                                        <mrow>
                                            <msup>
                                                <mi>a</mi>
                                                <mn>3</mn>
                                            </msup>
                                            <mo>+</mo>
                                            <mn>3</mn>
                                            <msup>
                                                <mi>a</mi>
                                                <mn>2</mn>
                                            </msup>
                                            <mi>b</mi>
                                            <mo>+</mo>
                                            <mn>3</mn>
                                            <mi>a</mi>
                                            <msup>
                                                <mi>b</mi>
                                                <mn>2</mn>
                                            </msup>
                                            <mo>+</mo>
                                            <msup>
                                                <mi>b</mi>
                                                <mn>3</mn>
                                            </msup>
                                        </mrow>
                                        <annotation encoding="application/x-tex">a^3 + 3a^2b + 3ab^2 + b^3</annotation>
                                    </semantics>
                                </math></span></span></span>.
                </p>
            </li>
            <li>
                <p><strong>Produto da soma pela diferença:</strong> O produto de uma soma pela diferença entre dois
                    termos resulta na diferença dos quadrados dos termos. Por exemplo, <span
                        class="math math-inline"><span class="katex"><span class="katex-mathml"><math
                                    xmlns="http://www.w3.org/1998/Math/MathML">
                                    <semantics>
                                        <mrow>
                                            <mo stretchy="false">(</mo>
                                            <mi>a</mi>
                                            <mo>+</mo>
                                            <mi>b</mi>
                                            <mo stretchy="false">)</mo>
                                            <mo stretchy="false">(</mo>
                                            <mi>a</mi>
                                            <mo>−</mo>
                                            <mi>b</mi>
                                            <mo stretchy="false">)</mo>
                                        </mrow>
                                        <annotation encoding="application/x-tex">(a + b)(a - b)</annotation>
                                    </semantics>
                                </math></span></span></span> é igual a <span class="math math-inline"><span
                            class="katex"><span class="katex-mathml"><math xmlns="http://www.w3.org/1998/Math/MathML">
                                    <semantics>
                                        <mrow>
                                            <msup>
                                                <mi>a</mi>
                                                <mn>2</mn>
                                            </msup>
                                            <mo>−</mo>
                                            <msup>
                                                <mi>b</mi>
                                                <mn>2</mn>
                                            </msup>
                                        </mrow>
                                        <annotation encoding="application/x-tex">a^2 - b^2</annotation>
                                    </semantics>
                                </math></span></span></span>.
                </p>
            </li>
            <li>
                <p><strong>Cubo da soma e do cubo da diferença:</strong> O cubo da soma de dois termos é uma expressão
                    que resulta da multiplicação de um binômio por ele mesmo três vezes. Por exemplo, <span
                        class="math math-inline"><span class="katex"><span class="katex-mathml"><math
                                    xmlns="http://www.w3.org/1998/Math/MathML">
                                    <semantics>
                                        <mrow>
                                            <mo stretchy="false">(</mo>
                                            <mi>a</mi>
                                            <mo>+</mo>
                                            <mi>b</mi>
                                            <msup>
                                                <mo stretchy="false">)</mo>
                                                <mn>3</mn>
                                            </msup>
                                        </mrow>
                                        <annotation encoding="application/x-tex">(a + b)^3</annotation>
                                    </semantics>
                                </math></span></span></span>
                    é igual a <span class="math math-inline"><span class="katex"><span class="katex-mathml"><math
                                    xmlns="http://www.w3.org/1998/Math/MathML">
                                    <semantics>
                                        <mrow>
                                            <msup>
                                                <mi>a</mi>
                                                <mn>3</mn>
                                            </msup>
                                            <mo>+</mo>
                                            <mn>3</mn>
                                            <msup>
                                                <mi>a</mi>
                                                <mn>2</mn>
                                            </msup>
                                            <mi>b</mi>
                                            <mo>+</mo>
                                            <mn>3</mn>
                                            <mi>a</mi>
                                            <msup>
                                                <mi>b</mi>
                                                <mn>2</mn>
                                            </msup>
                                            <mo>+</mo>
                                            <msup>
                                                <mi>b</mi>
                                                <mn>3</mn>
                                            </msup>
                                        </mrow>
                                        <annotation encoding="application/x-tex">a^3 + 3a^2b + 3ab^2 + b^3</annotation>
                                    </semantics>
                                </math></span></span></span>.
                    O cubo da diferença de dois termos segue um padrão similar.</p>
            </li>
            <li>
                <p><strong>Produto de dois binômios conjugados:</strong> Quando dois binômios têm a mesma estrutura, mas
                    com um sinal oposto entre eles, o produto resulta na diferença dos quadrados dos termos. Por
                    exemplo, <span class="math math-inline"><span class="katex"><span class="katex-mathml"><math
                                    xmlns="http://www.w3.org/1998/Math/MathML">
                                    <semantics>
                                        <mrow>
                                            <mo stretchy="false">(</mo>
                                            <mi>a</mi>
                                            <mo>+</mo>
                                            <mi>b</mi>
                                            <mo stretchy="false">)</mo>
                                            <mo>.</mo>
                                            <mo stretchy="false">(</mo>
                                            <mi>a</mi>
                                            <mo>-</mo>
                                            <mi>b</mi>
                                            <mo stretchy="false">)</mo>
                                        </mrow>
                                        <annotation encoding="application/x-tex">(a + b).(a - b)</annotation>
                                    </semantics>
                                </math></span></span></span> é igual a <span class="math math-inline"><span
                            class="katex"><span class="katex-mathml"><math xmlns="http://www.w3.org/1998/Math/MathML">
                                    <semantics>
                                        <mrow>
                                            <msup>
                                                <mi>a</mi>
                                                <mn>2</mn>
                                            </msup>
                                            <mo>−</mo>
                                            <msup>
                                                <mi>b</mi>
                                                <mn>2</mn>
                                            </msup>
                                        </mrow>
                                        <annotation encoding="application/x-tex">a^2 - b^2</annotation>
                                    </semantics>
                                </math></span></span></span>.
                </p>
            </li>
            <li>
                <p><strong>Produto da soma de três termos pela diferença de três termos:</strong> Essa fórmula envolve a
                    multiplicação de uma soma de três termos por uma diferença de três termos, resultando na soma dos
                    quadrados dos termos em ambas as expressões.</p>
            </li>
        </ol>
        <p>Esses produtos notáveis são frequentemente usados para simplificar cálculos algébricos, fatorar expressões e
            resolver equações. O reconhecimento desses padrões pode tornar a manipulação de expressões algébricas mais
            eficiente e facilitar a resolução de problemas matemáticos.</p>
    </div>
    <div style="text-align: center;">
        <h2>Exemplos: </h2>
    </div>

    <div>
        <img src="http://localhost/views/imgs/calculoDiferencial/produtosNotaveis1.jpeg" alt="">
        <img src="http://localhost/views/imgs/calculoDiferencial/produtosNotaveis2.jpeg" alt="">
        <img src="http://localhost/views/imgs/calculoDiferencial/produtosNotaveis3.jpeg" alt="">
    </div>
</div>